body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
a,
a:visited {
  color: white;
}
a:hover {
  color: black;
  background-color: white;
}
.external,
.external:visited {
  color: blue;
}
.external:hover {
  color: white;
  background-color: blue;
}
.not-bold-emoji {
  font-size: 60px;
}

.app-router {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  flex-grow: 0;
  cursor: default;
}

.content {
  text-align: left;
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}
.content .centered {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.content .v-centered {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.home {
  font-size: 192px;
}
.home .centered {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .home {
    font-size: 128px;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    font-size: 80px;
  }
}
@media only screen and (max-width: 512px) {
  .home {
    font-size: 48px;
  }
}

.week .cook-combo {
  font-size: 12px;
  color: #444444;
}
.week .cooking-days {
  width: 800px;
  max-width: 100%;
  align-self: center;
}
.week .cooking-day:not(:last-child) {
  margin-bottom: 64px;
}
.week .datum {
  display: flex;
  flex: 0 0 auto;
}
.week .datum:not(:last-child) {
  margin-bottom: 8px;
}
.week .title {
  width: 192px;
  text-align: right;
  flex: 0 0 auto;
  margin-right: 32px;
  color: #444444;
}
.week .value.list {
  display: flex;
  flex-direction: column;
}
.week .value.list a:not(:last-child) {
  flex: 0 0 auto;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .week {
    font-size: 28px;
  }
  .week .title {
    width: 156px;
  }
}
@media only screen and (max-width: 512px) {
  .week {
    font-size: 18px;
  }
  .week .title {
    width: 96px;
  }
}
.week .pagination {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.week .cooking {
  width: 100%;
}


.eggs {
  background: white;
  color: black;
}
.eggs-inner {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.eggs .chicken {
  flex: 1 0 auto;
  border-style: solid;
  border-radius: 25px;
  width: 50%;
  height: 100px;
  justify-content:center;
  text-align: center;
  cursor: pointer;
}
.eggs .chicken.boba {
  border-color: gold;
  background: black;
  color: gold;
}
.eggs .chicken.uncle-chicken {
  border-color: black;
  background: white;
}
.eggs .chicken.cha-cha {
  border-color: black;
  background: gold;
}
.eggs .chicken.unclear{
  border-color: gray;
  background: #eee;
}
.eggs .who-laid {
  margin: 0 auto;
  flex-basis: 100%;
  text-align: center;
}
.eggs .congrats {
  margin: 0 auto;
  color: blue;
}


.boux-thanks.content{
  background: white;
  color: black;
}
.boux-thanks a,
.boux-thanks a:visited {
  color: black;
}
.boux-thanks .body {
  padding: 0 32px;
  max-width: 600px;
}
.boux-thanks a:hover {
  color: white;
  background-color: black;
}
.boux-thanks a > img {
  width: 40%;
  max-width: 600px;
  min-width: 200px;
}
.boux-thanks .chickens .bar {
  display: flex;
  justify-content: center;
}
.boux-thanks .venmo-qr {
  flex-grow: 1;
  display: block;
}
.boux-thanks .chickens .bar img {
  display: block;
  align-self: flex-start;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
}

.boux-facts.content{
  padding: 20px;
  background: white;
  color: black;
}
.boux-facts .fact {
  color: white;
  background-color: black;
  border-radius: 8px;
  font-family: sans-serif;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}
.boux-facts .fact .question {
  color: gold;
}
.boux-facts .fact .answer {
  display: flex;
  padding: 20px 0 0 20px;
}
.boux-facts .fact .answer .fact-link {
  display: block;
  margin-top: 20px;
  font-style: italic;
}
.boux-facts .fact img {
  align-self: center;
  margin-right: 20px;
  flex: 0 0 20%;
  border-radius: 100%;
  width: 20%;
  max-width: 300px;
  min-width: 100px;
  filter: grayscale(100%);
}
.boux-facts .fact:hover img {
  filter: none;
}